<div class="container">
	<div class="row">

     <div class="input-group col-sm-4">
            <input type="text" class="form-control" placeholder="Search" ng-model="searchText">
        </div>
		<div class="list-users" ng-repeat="user in home.users | filter:searchText">
			<h2>{{ user.name }}</h2>
			<p>{{ user.username }}</p>
			<p>{{ user.email }}</p>
			
		</div>

	</div>
</div>