<nav class="navbar navbar-default">
	<div class="container">
		<div class="navbar-header pull-left">
			<a href="navbar-brand" href="#"><h2>Users</h2></a>
		</div>

		<div class="pull-right">
			<ul class="nav navbar-nav">
				
			</ul>
		</div>
	</div>
</nav>